@use "sass:math";
@import "@mixins";
@import "@styles-variables";

.payment {
  margin-top: rem(25);

  &__body {}

  &__row {}

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }

  &__content {
    background-color: #fff;
    display: flex;
    align-items: center;
    //justify-content: center;
    flex-wrap: wrap;
    column-gap: rem(20);
    row-gap: rem(25);

    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }

  &__item {
    flex: 0 1 percent(190, 1200);
  }

  &__form {}
}

.itemPayment {
  padding: rem(20);
  text-align: center;

  &__title {
    font-size: rem(15) !important;
    line-height: math.div(20, 15) !important;
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__type {
    font-size: rem(15);
    line-height: math.div(20, 15);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__logo {
    img {
      max-width: 100%;
    }
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__link {
    @extend .itemPayment__title;
  }
}

.formPayment {
  margin-top: rem(40);
  &__body {}

  &__row {}

  &__column {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  &__label {
    font-size: rem(18);
    line-height: math.div(22, 18);
    cursor: pointer;
    display: inline-block;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__text {
    font-size: rem(12.5);
    line-height: math.div(16, 12.5);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: rem(10);

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__input {}

  &__button {}
}