@use "sass:math";
@import "@mixins";
@import "@styles-variables";

.mainPannel {
  &__body {}

  &__row {
    &:not(:last-child) {
      margin-bottom: rem(40);
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  &__text {
    font-size: rem(14);
    line-height: math.div(18, 14);

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__chart {
    &:not(:last-child) {
      margin-bottom: rem(35);
    }

    @media (max-width:$mobile) {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }
  }

  &__stats {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }

    @media (max-width:$mobile) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__formBalance {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }

  &__table {}

  &__users {}

  &__info {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
}

.formBalance {

  &__row {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: rem(20);
  }

  &__column {
    @media (max-width:$mobileSmall) {
      flex: 1 1 auto;
    }

    display: flex;
    align-items: center;
    gap: rem(4);

    &_direction {
      flex-direction: column;
      align-items: flex-start;
      row-gap: rem(5);
    }

    @media (max-width:$mobileSmall) {
      flex-wrap: wrap;
    }

    // flex-wrap: wrap;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: rem(4);

    @media (max-width:$mobileSmall) {
      flex-wrap: wrap;
    }
  }

  &__input {
    @media (max-width:$mobileSmall) {
      width: auto;
    }
  }

  &__text {
    font-size: rem(13);
    white-space: nowrap;
  }


  &__button {
    &:not(:last-child) {
      margin: 0px 0px 0px rem(10);
    }
  }
}

.users {
  &__button {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__text {
    font-size: rem(12);
  }
}

.replenishment {

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__form {
    max-width: rem(280);
  }

  &__subtitle {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__items {}

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }

  &__input {}

  &__button {}
}