// Бем блоки...

.title {
  font-size: rem(16);
  line-height: 1.2;
  color: inherit;

  &_small {
    font-size: rem(14);
  }

  &_medium {
    font-size: rem(18);
  }

  &_big {
    font-size: rem(20);
  }

  &_large {
    font-size: rem(24);
  }

  span {
    font-size: 80%;
  }
}

.stats-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
  row-gap: rem(15);
  column-gap: rem(10);

  @media (max-width:$tablet) {
    grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
  }

  &__item {
    font-size: rem(14);
    line-height: math.div(18, 14);
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__text {}
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.text {
  font-size: rem(11.2);
  line-height: math.div(20, 11.2);
}

.success {
  color: #2DBB4E;
}

.button-link {
  color: #2962ff;
  font-size: rem(12.5);
  line-height: math.div(19, 12.5);

  @media (any-hover: hover) {
    &:hover {
      color: #381be7;
    }
  }

  &_size {
    font-size: rem(14);
    line-height: math.div(20, 14);
  }

  &_bold {
    font-weight: 700;
  }
}

.wrapper-container {
  width: 100%;
  margin: 0 auto !important;
  padding: 0px rem(10) !important;
  max-width: rem(960) !important;

  @media (min-width:em(1600)) {
    max-width: rem(1140) !important;
  }
}