// Бем блоки...

.title {
  font-size: rem(16);
  line-height: 1.2;
  color: inherit;

  &_small {
    font-size: rem(14);
  }

  &_medium {
    font-size: rem(18);
  }

  &_big {
    font-size: rem(20);
  }

  &_large {
    font-size: rem(24);
  }

  span {
    font-size: 80%;
  }
}

.stats-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(260), 1fr));
  row-gap: rem(15);
  column-gap: rem(10);

  @media (max-width:$tablet) {
    grid-template-columns: repeat(auto-fit, minmax(rem(220), 1fr));
  }

  &__item {
    font-size: rem(14);
    line-height: math.div(18, 14);
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__text {}
}

.table {
  overflow: auto;
  padding-bottom: rem(10);

  &__wrapper {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
  }

  &__head {}

  &__tr {}

  &__th {
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom-width: 2px;
    font-size: rem(13);
    font-weight: 500;
    padding: rem(16);
    text-align: left;
  }

  &__body {}

  &__td {
    padding: rem(16);
    font-size: rem(13);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__button {
    font-weight: 500;
    color: #2962ff;

    @media (any-hover: hover) {
      &:hover {
        color: #381be7;
      }
    }
  }
}

.small {
  font-size: 80%;
  font-weight: 400;
}