@use "sass:math";
@import "@mixins";
@import "@styles-variables";

.brief {
  margin-top: rem(25);
  &__body {}

  &__row {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    &_margin {
      &:not(:last-child) {
        margin-bottom: rem(30);
      }
    }
  }

  &__stats {}

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 rem(20);
    font-weight: 500;
    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }

  &__title {
    font-size: rem(21);
    line-height: math.div(26, 21);
  }

  &__button {}

  &__stats {}

  &__sales {}

  &__chartBrief {}
}

.briefStats {
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: rem(20);

    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $mobileSmall) {
      grid-template-columns: 1fr;
    }

    margin: 0 rem(-10);
  }

  &__title {
    font-size: rem(24);
    line-height: math.div(28.8, 24);
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__item {}
}

.itemStat {
  background-color: #fff;
  padding: rem(25) rem(30);
  display: flex;
  flex-direction: column;
  gap: rem(20);

  &:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,.125);
  }

  &__header {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(10);
  }

  &__info {

  }

  &__icon {
    font-size: rem(14);
    display: block;
    &:not(:last-child) {
      margin-bottom: rem(8);
    }
  }

  &__title {
    font-size: rem(16);
    line-height: math.div(24, 16);
  }

  &__count {
    font-weight: 400;
    font-size: rem(36);
    line-height: math.div(43, 36);
    font-weight: 300;
  }

  &__statusbar {
    background-color: #f6f8f9;
    width: 100%;
    height: rem(5);
    border-radius: 2px;
    overflow: hidden;
  }

  &__bar {
    background-color: #000;
    height: 100%;
    transition: width .3s ease 0s;
    &_green {
      background-color: #28a745;
    }

    &_blue {
      background-color: #007bff;
    }
    
    &_yellow {
      background-color: #ffc107;
    }
    
    &_red {
      background-color: #dc3545;
    }
  }
}

.salesBrief {
  background-color: #fff;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
    padding: rem(20);
  }

  &__title {
    font-size: rem(18);
    line-height: math.div(21, 18);
  }

  &__date {
    font-size: rem(14);
    line-height: math.div(18, 14);
    text-align: end;
  }

  &__info {
    padding: rem(20);
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
    flex-wrap: wrap;
  }

  &__content {}

  &__subtitle {
    font-weight: 300;
    font-size: rem(24);
    line-height: math.div(28.8, 24);
    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__text {
    font-size: rem(14);
    line-height: math.div(21, 14);
    color: #afb5c1;
  }

  &__price {
    font-size: rem(40);
    color: #137eff;
    line-height: math.div(60, 40);
  }

  &__table {
    overflow: auto;
    padding-bottom: rem(10);
  }

  &__wrapper {
    border-collapse: collapse;
    background-color: #fff;
    //border: 1px solid rgba(0, 0, 0, .1);
    min-width: 100%;

    @media (max-width:$tablet) {
      min-width: 130%;
    }

    @media (max-width:$mobile) {
      min-width: 150%;
    }

    @media (max-width:$mobileSmall) {
      min-width: 200%;
    }
  }

  &__head {
  }

  &__tr {}

  &__th {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    text-align: start;
    padding: rem(16);
    font-weight: 500;
    font-size: rem(14);
    line-height: math.div(20, 14);
  }

  &__body {
    @media (any-hover: hover) {
      &:hover {
        tr {
          color: #6a7a8c;
          background-color: #f6f8f9;
        }
      }
    }
  }

  &__td {
    padding: rem(16);
    font-size: rem(14);
    line-height: math.div(20, 14);

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    &_center {}
  }
}

.chartBrief {
  &__row {
    display: flex;
    gap: rem(20);
    @media (max-width: $tablet) {
      flex-direction: column;
      gap: rem(10);
    }
  }

  &__item {
    flex: 1 1 50%;
  }

  &__card {
    padding: rem(20);
    background-color: #fff;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: rem(15);
    }

    &_between {}
  }

  &__title {
    font-size: rem(18);
    line-height: math.div(21, 18);
  }

  &__date {
    font-size: rem(14);
    line-height: math.div(21, 14);
  }

  &__gain {}

  &__column {}

  &__subtitle {
    color: #afb5c1;
    font-size: rem(14);
    line-height: math.div(21, 14);

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__value {}

  &__reject {}

  &__icon {}
}