@use "sass:math";
@import "@mixins";
@import "@styles-variables";

.category {
  margin-top: rem(20);

  &__body {
  }

  &__row {
  }

  &__header {
    text-align: center;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__title {
    font-size: rem(18);
    line-height: math.div(21, 18);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__button {
  }

  &__form {
  }
}

.formCategory {
  max-width: rem(710);

  &__row {
    display: flex;
    align-items: center;
    column-gap: rem(20);
    row-gap: rem(10);

    &:not(:last-child) {
      margin-bottom: rem(25);
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__column {
    flex: 0 1 50%;
  }

  &__label {
    display: block;
    text-align: end;
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: $tablet) {
      text-align: start;
    }
  }

  &__input {
  }

  &__title {
    text-align: end;

    &:not(:last-child) {
      margin-bottom: rem(12);
    }

    @media (max-width: $tablet) {
      text-align: start;
    }
  }

  &__text {
    text-align: end;
    font-size: rem(11.2);
    line-height: math.div(21, 11.2);

    @media (max-width: $tablet) {
      text-align: start;
    }
  }

  &__checkbox {
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__button {
    &:not(:last-child) {
      margin-right: rem(10);
    }
  }

  &__select {
  }
}

.formPopup {
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
  }

  &__image {
    cursor: pointer;
    max-width: rem(155);
    margin: 0 auto;
    display: block;

    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    img {
      width: 100%;
    }
  }

  &__input {
    font-size: rem(14);

    &:not(:last-child) {
      margin-bottom: rem(20);
    }

    &_image {
      display: none;
    }
  }
}