@use "sass:math";
@import "@mixins";
@import "@styles-variables";

.views {
  margin-top: rem(40);
  &__body {}

  &__row {}

  &__charts {}

  &__table {}
}

.chartsViews {

  &:not(:last-child) {
    margin-bottom: rem(40);
  }

  &__title {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__body {
    max-width: rem(960);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(15);
    row-gap: rem(25);

    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }
}