//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: rem(6) rem(12);
  border-radius: 2px;
  border: 1px solid #e9ecef;
  color: #4f5467;
  background-color: #fff;

  &._focus {}

  &._error {}

  &:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}