.select {
  font-family: inherit;
  display: block;
  width: 100%;
  height: rem(35);
  padding: rem(6) rem(12);
  font-size: rem(14);
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}