.table {
  overflow: auto;
  padding-bottom: rem(10);

  &_solid {

    .table__wrapper,
    .table__th,
    .table__td {
      border: none;
    }

    .table__th {
      border-bottom: 2px solid rgba(0, 0, 0, .1);
      border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .table__tr {
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
    }
  }

  &__wrapper {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, .1);
    min-width: 100%;

    @media (max-width:$tablet) {
      min-width: 130%;
    }

    @media (max-width:$mobile) {
      min-width: 150%;
    }

    @media (max-width:$mobileSmall) {
      min-width: 200%;
    }
  }

  &__head {}

  &__tr {}

  &__th {
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom-width: 2px;
    font-size: rem(14);
    font-weight: 500;
    padding: rem(16);
    text-align: left;
  }

  &__body {}

  &__td {
    padding: rem(16);
    font-size: rem(14);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &_center {
      text-align: center;
    }
  }

  &__button {
    font-weight: 500;

    @extend .button-link;
  }

  &__footer {}
}

.table-blue {
  overflow: auto;
  padding-bottom: rem(10);

  &__content {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, .1);
    min-width: 100%;

    @media (max-width:$tablet) {
      min-width: 130%;
    }

    @media (max-width:$mobile) {
      min-width: 150%;
    }

    @media (max-width:$mobileSmall) {
      min-width: 200%;
    }
  }

  &__head {
    background-color: #007bff;
  }

  &__tr {
    font-size: rem(14);
    line-height: math.div(16, 14);
  }

  &__th {
    color: #f6f8f9;
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom-width: 2px;
    font-weight: 500;
    padding: rem(16);
    text-align: left;

    &_center {
      text-align: center;
    }
  }

  &__body {}

  &__td {
    padding: rem(16);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &_center {
      text-align: center;
    }

    &_bold {
      font-weight: 500;
    }
  }

  &__message {

    &_success {}

    &_danger {}
  }

  &__button {}
}