.table {
  overflow: auto;
  padding-bottom: rem(10);

  &__wrapper {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
  }

  &__head {}

  &__tr {}

  &__th {
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom-width: 2px;
    font-size: rem(13);
    font-weight: 500;
    padding: rem(16);
    text-align: left;
  }

  &__body {}

  &__td {
    padding: rem(16);
    font-size: rem(13);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__button {
    font-weight: 500;

    @extend .button-link;
  }
}

.table-blue {
  overflow: auto;
  padding-bottom: rem(10);

  &__content {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
  }

  &__head {
    background-color: #007bff;
  }

  &__tr {
    font-size: rem(12.5);
    line-height: math.div(15, 12.5);
  }

  &__th {
    color: #f6f8f9;
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom-width: 2px;
    font-size: rem(13);
    font-weight: 500;
    padding: rem(16);
    text-align: left;

    &_center {
      text-align: center;
    }
  }

  &__body {}

  &__td {
    padding: rem(16);
    font-size: rem(13);
    border: 1px solid rgba(0, 0, 0, 0.1);

    &_center {
      text-align: center;
    }

    &_bold {
      font-weight: 500;
    }
  }

  &__message {

    &_success {}

    &_danger {}
  }

  &__button {}
}